[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
gtts = "*"
python-dotenv = "*"
moviepy = "==1.0.3"
elevenlabs = "*"

[dev-packages]

[requires]
python_version = "3.13"
